@import 'variables.scss';
@import 'media-queries.scss';

body {
  color: $copy-colour;
}

.container {
  padding: 0 1rem;
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  a {
    color: $primary-colour;
  }
}
